html {
    /*background-image: url(../personal-webpage/mountainsLake.jpeg);
    background-size: cover;*/
    background-color: skyblue;
    background-repeat: no-repeat;
}
h1 {
    color: blue;
    text-align: center;
    font-size: 36px;
}

h2.aboutMe, h2.aboutMe body{
    color: white;
    text-align: center;
    align-content: center;
}

h2.workExperience, h2.workExperience ~ body{
    color: red;
    text-align: center;
}


h2.educationBackground, h2.educationBackground ~ body{
    color: blue;
    text-align: center;
}